@model PhinaMart.ViewModels.RegisterVm

<div class="container-fluid custom-page">
    <div class="row bg-white">
        <!-- The image half -->
        <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent-3">
            <div class="row w-100 mx-auto text-center">
                <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto w-100">
                    <img src="~/Backend/assets/images/media/pngs/51.png"
                         class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                </div>
            </div>
        </div>
        <!-- The content half -->
        <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
            <div class="login d-flex align-items-center py-2">
                <!-- Demo content-->
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                            <div class="card-sigin">
                                <div class="mb-5 d-flex">
                                    <a href="index.html" class="header-logo">
                                        <img src="~/Backend/assets/images/brand-logos/desktop-white1.png"
                                             class="desktop-logo ht-40" alt="logo">
                                        <img src="~/Backend/assets/images/brand-logos/desktop-white1.png"
                                             class="desktop-white ht-40" alt="logo">
                                    </a>
                                </div>
                                <div class="card-sigin">
                                    <div class="main-signup-header">
                                        <h3>Get Started</h3>
                                        <h6 class="fw-medium mb-4 fs-17">It's free to signup and only takes a minute.</h6>

                                        <div class="text-danger" asp-validation-summary="All"></div>
                                        <form asp-action="Register" asp-controller="User" enctype="multipart/form-data">

                                            <div class="form-group mb-3">
                                                <label class="form-label">User Name</label>
                                                <input asp-for="Username" class="form-control" placeholder="Enter your first Name and last Name" type="text">
                                                <span asp-validation-for="Username" class="text-danger"></span>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label class="form-label">PassWord</label>
                                                <input asp-for="Password" class="form-control" placeholder="Enter your password">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label class="form-label">Email</label>
                                                <input asp-for="Email" class="form-control" placeholder="Enter your email">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label class="form-label">Phone</label>
                                                <input asp-for="Phone" class="form-control" placeholder="Enter your phone">
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label class="form-label">Address</label>
                                                <input asp-for="Address" class="form-control" placeholder="Enter your Address">
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label class="form-label">Avatar</label>
                                                <input asp-for="Image" type="file" class="form-control">
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-block w-100">Create Account</button>

                                            <div class="row mt-3">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-block w-100 btn-facebook">
                                                        <i class="fab fa-facebook-f me-2"></i> Signup with
                                                        Facebook
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 mt-2 mt-sm-0">
                                                    <button class="btn btn-info btn-block w-100">
                                                        <i class="fab fa-twitter me-2"></i> Signup with
                                                        Twitter
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="main-signin-footer mt-5">
                                            <p>Already have an account? <a asp-action="Login" asp-controller="User">Sign In</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

