

@if(TempData["success"]!=null){

    <div class="card border-0 mb-4 bg-success">
        <div class="card-body text-fixed-white">
            <div class="main-error-wrapper">
                <i class="si si-check mb-4 fs-50"></i>
                <h3 class="mb-0 text-fixed-white">@TempData["success"]</h3>
            </div>
        </div>
    </div>
}

@if(TempData["error"]!=null){

    <div class="card border-0 mb-4 bg-danger">
        <div class="card-body text-fixed-white">
            <div class="main-error-wrapper">
                <i class="si si-close mb-4 fs-50"></i>
                <h5 class="mb-0 text-fixed-white">@TempData["error"]</h5>
            </div>
        </div>
    </div>

}

